$hovertransition-background--quick: background-color 0.2s ease-in-out;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html, ol, ul {
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
	min-height: 100%;
	font-family: 'Lato', sans-serif;
}

.mtn-bg {
	width: 100%;
	min-height: 100vh;
	background-image: url(../img/riding.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
}

.fullwidth-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.full-size-title {
	font-size: 4.5rem;
	font-weight: normal;
	width: 100%;
	padding: 16px;
	margin: 0 0 24px 0;
	text-align: center;
	font-family: 'Gruppo', cursive;
}
.mid-size-title {
	font-size: 4rem;
	font-weight: normal;
	width: 100%;
	padding: 24px;
	margin: 48px 0 48px 0;
	color: #fff;
	background-color: #5792d2;
	text-align: center;
	font-family: 'Gruppo', cursive;
}

.subtitle-small {
	font-size: 2rem;
	opacity: 0;
	transition: opacity 3s ease-in-out;
}

.onethird-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.onethird-item {
	background-color: rgba(255,255,255,0.6);
	padding: 16px;
	width: 31%;
}
.onethird-item h3 {
	margin: 0 0 9px 0;
	font-size: 1.35rem;
	font-weight: normal;
	text-align: center;
}
.onethird-text {
	font-size: 0.8rem;
	text-align: center;
}

.svg-wrapper--small {
	text-align: center;
}

.images-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}
.image-wrapper {
	width: 48%;
	position: relative;
}
.image-caption--top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.6);
	padding: 6px;
	text-align: center;
}
.images-wrapper img {
	width: 100%;
	height: auto;
	max-height: 400px;
	margin-bottom: 16px;
	border-radius: 10px;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
.images-wrapper img[data-src] {
	opacity: 0;
}
.footer {
	margin-top: 24px;
	padding: 16px;
	text-align: center;
	color: #fff;
	background-color: #5792d2;
	width: 100%;
}
.fade-in {
	opacity: 1;
}

/*login area*/
.login-button {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 6px;
	right: 6px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: #ccc;
	color: #fff;
	cursor: pointer;
	backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
	transition: $hovertransition-background--quick;
}
.login-button:hover {
	background-color: #333;
}
.slideout {
	z-index: 99;
	position: fixed;
	right: 0;
	max-width: 400px;
	background-color: #333;
	color: #fff;
	transition: right 0.5s ease-in-out;

	h1 {
		font-size: 2em;
		font-weight: normal;
		padding: 6px;
		margin: 0 0 6px 0;
	}

	.close {
		border: 0;
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		background-color: inherit;
		color: #fff;
		position: absolute;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: color 0.2s ease-in-out;
	}
	.close:hover {
		color: #ccc;
	}
}
.slideout-hidden {
	right: -400px;
  	transition: right 0.5s ease-in-out;
}
.slideout--text {
	padding: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	input {
		border: 0;
		border-bottom: 2px solid #ccc;
		background-color: inherit;
		color: #fff;
		padding: 4px 4px 0 4px;
		margin: 0 0 12px 0;
		font-size: 1.2em;
	}
	button {
		border: 0;
		background-color: #ccc;
		transition: $hovertransition-background--quick;
	}
	button:hover {
		background-color: #333;
	}
}

@media (max-width: 800px) {
	body, html {
		font-size: 16px;
	}
	.fullwidth-wrapper {
		height: 100vh;
	}
	.full-size-title, .onethird-wrapper, .images-wrapper {
		width: 100%;
		display: block;
	}
	.onethird-item, .founders-box {
		width: 100%;
		margin-bottom: 24px;
		text-align: center;
	}
	.image-wrapper {
		width: 100%;
	}
	.images-wrapper img {
		width: 100%;
		height: 200px;
	}

}