* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html, ol, ul {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  min-height: 100%;
  font-family: 'Lato', sans-serif; }

.full-bg-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease-in-out; }

.mtn-bg {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/riding.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed; }

.fullwidth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.full-size-title {
  font-size: 4.5rem;
  font-weight: normal;
  width: 100%;
  padding: 16px;
  margin: 0 0 24px 0;
  text-align: center;
  font-family: 'Gruppo', cursive; }

.mid-size-title {
  font-size: 4rem;
  font-weight: normal;
  width: 100%;
  padding: 24px;
  margin: 48px 0 48px 0;
  color: #fff;
  background-color: #5792d2;
  text-align: center;
  font-family: 'Gruppo', cursive; }

.subtitle-small {
  font-size: 2rem;
  opacity: 0;
  transition: opacity 3s ease-in-out; }

.onethird-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.onethird-item {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  width: 31%; }

.onethird-item h3 {
  margin: 0 0 9px 0;
  font-size: 1.35rem;
  font-weight: normal;
  text-align: center; }

.onethird-text {
  font-size: 0.8rem;
  text-align: center; }

.svg-wrapper--small {
  text-align: center; }

.images-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.image-wrapper {
  width: 48%;
  position: relative; }

.image-caption--top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 6px;
  text-align: center; }

.images-wrapper img {
  width: 100%;
  height: auto;
  max-height: 400px;
  margin-bottom: 16px;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out; }

.images-wrapper img[data-src] {
  opacity: 0; }

.footer {
  margin-top: 24px;
  padding: 16px;
  text-align: center;
  color: #fff;
  background-color: #5792d2;
  width: 100%; }

/*login/signup modal*/
.login-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6px;
  right: 6px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #1ca8dd;
  text-align: center;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: background-color 0.2s ease-in-out; }

.login-button:hover {
  background-color: #137499; }

.modal-wrapper {
  position: relative;
  box-shadow: 0 0 3px 0 #ccc;
  width: 50%;
  height: 70%;
  min-width: 275px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s 0.3s ease-in-out;
  background-color: #333; }
  .modal-wrapper h1 {
    font-size: 2em;
    font-weight: normal;
    padding: 6px;
    margin: 0 0 6px 0;
    color: #fff; }
  .modal-wrapper .close {
    border: 0;
    color: #fff;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5em;
    transition: color 0.2s ease-in-out; }
  .modal-wrapper .close:hover {
    color: #ccc; }

.modal--text {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .modal--text input {
    border: 0;
    border-bottom: 2px solid #ccc;
    background-color: inherit;
    color: #fff;
    padding: 4px 4px 0 4px;
    margin: 36px 0 12px 0;
    font-size: 1.5em;
    width: 100%; }
  .modal--text input:focus {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #ccc; }
  .modal--text button {
    border: 0;
    outline: 0;
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer; }

.sign-up-link {
  position: absolute;
  bottom: 6px;
  right: 6px;
  color: #fff;
  max-width: 165px;
  text-align: right;
  font-size: 0.85em; }
  .sign-up-link button {
    border: 0;
    margin-top: 6px;
    width: 100%;
    color: #fff;
    font-size: 1.15em;
    outline: 0;
    transition: background-color 0.2s ease-in-out; }

/*general color classes*/
.blue-bg {
  background-color: #1ca8dd;
  transition: background-color 0.2s ease-in-out; }

.orange-bg {
  background-color: #dd511c;
  transition: background-color 0.2s ease-in-out; }

/*button types*/
.button-blue-bg {
  background-color: #1ca8dd;
  transition: background-color 0.2s ease-in-out; }

.button-blue-bg:hover {
  background-color: #137499; }

.button-orange-bg {
  background-color: #dd511c;
  transition: background-color 0.2s ease-in-out; }

.button-orange-bg:hover {
  background-color: #993813; }

/*Utility effect classes*/
.fade-in {
  opacity: 1; }

.fade-out {
  opacity: 0; }

.move-forward-98 {
  z-index: 98; }

.move-forward-99 {
  z-index: 99; }

.no-overflow {
  overflow: hidden; }

/*overwriting defaults*/
input:autofill {
  background-color: inherit; }

/*slideout section*/
.slideout {
  z-index: 99;
  position: fixed;
  right: 0;
  max-width: 400px;
  background-color: #333;
  color: #fff;
  transition: right 0.5s ease-in-out; }
  .slideout h1 {
    font-size: 2em;
    font-weight: normal;
    padding: 6px;
    margin: 0 0 6px 0; }
  .slideout .close {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background-color: inherit;
    color: #fff;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.2s ease-in-out; }
  .slideout .close:hover {
    color: #ccc; }

.slideout-hidden {
  right: -400px;
  transition: right 0.5s ease-in-out; }

.slideout--text {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .slideout--text input {
    border: 0;
    border-bottom: 2px solid #ccc;
    background-color: inherit;
    color: #fff;
    padding: 4px 4px 0 4px;
    margin: 0 0 12px 0;
    font-size: 1.2em; }
  .slideout--text button {
    border: 0;
    background-color: #ccc;
    transition: background-color 0.2s ease-in-out; }
  .slideout--text button:hover {
    background-color: #333; }

@media (max-width: 800px) {
  body, html {
    font-size: 16px; }

  .fullwidth-wrapper {
    height: 100vh; }

  .full-size-title, .onethird-wrapper, .images-wrapper {
    width: 100%;
    display: block; }

  .onethird-item, .founders-box {
    width: 100%;
    margin-bottom: 24px;
    text-align: center; }

  .image-wrapper {
    width: 100%; }

  .images-wrapper img {
    width: 100%;
    height: 200px; } }

/*# sourceMappingURL=main.css.map */
